.depth01__main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.depth01__canvasWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.depth01__scrollable {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  z-index: 1;
}

.depth01__section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.depth01__imgWrapper {
  position: relative;
  width: min(75vw, 75vh);
  aspect-ratio: 1 / 1;
}
.depth01__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
}

.depth01__letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40vw;
  font-weight: 900;
  color: black;
  opacity: 0.3;
  z-index: 2;
}
.depth01__main {
}
