.isOutline {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
}

.marquee {
  --gap: 4rem;
  --speed: 27s;
  --line-height: 11rem;
  display: flex;
  overflow-y: visible;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  line-height: var(--line-height);
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}
