/* BASE - END */
.transition02__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-weight: 200;
  font-family: "acumin-pro", sans-serif;
}

.transition02__main h1,
.transition02__main h2,
.transition02__main h3,
.transition02__main h4,
.transition02__main h5,
.transition02__main h6 {
  font-weight: normal;
  font-family: "kudryashev-d-excontrast-sans", serif;
}

.transition02__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
.transition02__logo {
}
.transition02__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transition02__nav li {
  margin: 0 1rem;
  list-style: none;
}
.transition02__logo-svg {
  width: 75px;
  height: auto;
}

.transition02__viewWrapper {
  flex: 1;
  width: 100%;
}
.transition02__view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.transition02__alex {
  background-color: cyan;
}
.transition02__aria {
  background-color: pink;
}
.transition02__jimmy {
  background-color: greenyellow;
}

/* BASE - END */

/* HOME */
.transition02__homeContainer {
  position: relative;
  background-color: rgb(198, 193, 183);
  color: black;
}

.transition02__homeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 2rem;
}
.transition02__homeGridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.transition02__homeGridItemTop {
}
.transition02__homeYear {
  display: inline-block;
  margin-bottom: 1rem;
}
.transition02__homeTitle {
  margin-bottom: 0.5rem;
  font-size: clamp(1rem, 3vw, 5rem);
  text-transform: uppercase;
}
.transition02__homeImgWrapper {
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;
  aspect-ratio: 500/333;
  width: 100%;
  overflow: hidden;
}

.transition02__homeImg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.transition02__homeSubtitle {
  margin-bottom: 4rem;
  line-height: 1.4;
}
.transition02__homeButton {
  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out;
  border: 1px solid rgba(75, 75, 75);
  border-radius: 4rem;
  padding: 1rem 4rem;
}

.transition02__homeButton:hover {
  background-color: black;
  color: white;
}

.transition02__transitionOverlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.transition02__transitionOverlayInner {
  flex: 1;
  will-change: transform;
  background-color: black;
  width: 100%;
}
.transition02__transitionOverlayTop {
  /* transform: translate3d(0, -100%, 0); */
}
.transition02__transitionOverlayBottom {
  /* transform: translate3d(0, 100%, 0); */
}

/* HOME - END */

/* DETAIL VIEW - START */
.transition02__detailView {
  --color-column-title: #727170;
  --color-link-hover-alt: #a17445;
  display: flex;
  background-color: black;
  padding: 4rem;
  width: 100%;
  height: 100%;
  color: white;
}
.transition02__detailViewContainer {
}
.transition02__detailViewImgWrapper {
  position: relative;
  aspect-ratio: 500/333;
  width: 100%;
  height: auto;
}
.transition02__detailViewImg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.transition02__detailViewImgOverlay {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.transition02__detailViewTitleWrapper {
  position: relative;
  overflow: hidden;
}
.transition02__detailViewTitle {
  display: flex;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: max(2rem, min(16vw, 14rem));
}
.transition02__detailViewContent {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.transition02__detailViewContentLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  min-width: 10rem;
}
.transition02__detailViewContentLeftTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.transition02__detailViewContentLeftTopSpan {
}
.transition02__detailViewContentLeftBottom {
}
.transition02__detailViewContentLeftBottomBtn {
}
.transition02__detailViewContentLeftBottomBtn svg {
  color: white;
  stroke: white;
  height: auto;
}
.transition02__detailViewContentLeftBottomBtn:hover svg {
  stroke: var(--color-link-hover-alt);
  height: auto;
}
.transition02__detailViewContentRight {
  display: flex;
  flex: 1;
}
.transition02__detailViewContentRightItem {
}

.transition02__detailViewContentRightItem:first-of-type {
  margin-right: 6rem;
}
.transition02__detailViewContentRightItemTitle {
  display: block;
  margin-bottom: 1rem;
  color: var(--color-column-title);
}
.transition02__detailViewContentRightItemDesc {
  line-height: 1;
}
/* DETAIL VIEW - END */
