.textScroll__main {
  width: 100vw;
}
.textScroll__intro {
  border-bottom: 1px solid black;
}
.textScroll__intro,
.textScroll__section,
.textScroll__spacer {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textScroll__section:nth-of-type(3) {
  background-color: yellow;
}
.textScroll__section:nth-of-type(4) {
  background-color: black;
  color: red;
}

.textScroll__content {
  font-size: 3rem;
  max-width: 80vw;
  font-kerning: none;
}
.textScroll__spacer {
  width: 100vw;
  height: 100vw;
  display: flex;
}
