@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  position: relative;
  overflow: hidden;
  line-height: 5rem;
}
.banner-letter {
  display: inline-block;
  white-space: pre;
  font-size: 10rem;
}

/* Sidebar Menu - START */
.sidebarmenu_nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.sidebarmenu_background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: white;
}

.sidebarmenu_btn {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 29px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.sidebarmenu_ul,
.sidebarmenu_li {
  margin: 0;
  padding: 0;
}

.sidebarmenu_ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.sidebarmenu_li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

/* Sidebar Menu - END */

/* SlideBox */

.progress-icon {
  width: 80%;
  height: 80%;
}

.circle-path {
  transform: translate(5px, 5px);
}
/* SlideBox */

/* FruitScroll */

.card_bg {
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}
/* FruitScroll */

/* Toggle */

.switch[data-ison="true"] {
  justify-content: flex-end;
}
/* Toggle */

/* Tabs Fruit */

/* Tabs Fruit */
